<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment/>
    <entry key="insertMenu">
        INSERT
            INTO tbl_menu
        (
            menu_name
        ,   menu_price
        ,   category_code
        ,   orderable_status
        )
        VALUES
        (
          ?
        , ?
        , ?
        , ?
        )

    </entry>
</properties>

<!--안녕하세요 주희님 저는 누굴까요?-->
<!--키보드가 좋으시네요!-->